/WebApi/obj/Debug/net6.0/apphost.exe
/Application/obj/Debug/net6.0/Application.csproj.CopyComplete
/Application/obj/Debug/net6.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Debug/net6.0/Application.csproj.FileListAbsolute.txt
/Application/bin/Debug/net6.0/Application.deps.json
/Application/bin/Debug/net6.0/Application.dll
/Application/obj/Debug/net6.0/ref/Application.dll
/Application/obj/Debug/net6.0/refint/Application.dll
/Application/obj/Debug/net6.0/Application.dll
/FileData/bin/Debug/net6.0/Application.dll
/WebApi/bin/Debug/net6.0/Application.dll
/Application/bin/Debug/net6.0/Application.pdb
/Application/obj/Debug/net6.0/Application.pdb
/FileData/bin/Debug/net6.0/Application.pdb
/WebApi/bin/Debug/net6.0/Application.pdb
/WebApi/bin/Debug/net6.0/appsettings.Development.json
/WebApi/bin/Debug/net6.0/appsettings.json
/WebApi/data.json
/Domain/obj/Debug/net6.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net6.0/Domain.csproj.FileListAbsolute.txt
/Domain/bin/Debug/net6.0/Domain.deps.json
/Application/bin/Debug/net6.0/Domain.dll
/Domain/bin/Debug/net6.0/Domain.dll
/Domain/obj/Debug/net6.0/ref/Domain.dll
/Domain/obj/Debug/net6.0/refint/Domain.dll
/Domain/obj/Debug/net6.0/Domain.dll
/FileData/bin/Debug/net6.0/Domain.dll
/WebApi/bin/Debug/net6.0/Domain.dll
/Application/bin/Debug/net6.0/Domain.pdb
/Domain/bin/Debug/net6.0/Domain.pdb
/Domain/obj/Debug/net6.0/Domain.pdb
/FileData/bin/Debug/net6.0/Domain.pdb
/WebApi/bin/Debug/net6.0/Domain.pdb
/FileData/obj/Debug/net6.0/FileData.csproj.CopyComplete
/FileData/obj/Debug/net6.0/FileData.csproj.CoreCompileInputs.cache
/FileData/obj/Debug/net6.0/FileData.csproj.FileListAbsolute.txt
/FileData/bin/Debug/net6.0/FileData.deps.json
/FileData/bin/Debug/net6.0/FileData.dll
/FileData/obj/Debug/net6.0/ref/FileData.dll
/FileData/obj/Debug/net6.0/refint/FileData.dll
/FileData/obj/Debug/net6.0/FileData.dll
/WebApi/bin/Debug/net6.0/FileData.dll
/FileData/bin/Debug/net6.0/FileData.pdb
/FileData/obj/Debug/net6.0/FileData.pdb
/WebApi/bin/Debug/net6.0/FileData.pdb
/WebApi/bin/Debug/net6.0/Microsoft.OpenApi.dll
/WebApi/obj/Debug/net6.0/staticwebassets.build.json
/WebApi/obj/staticwebassets.pack.sentinel
/WebApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/WebApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/WebApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/.idea/.idea.LikeRedditApp/.idea/vcs.xml
/WebApi/obj/Debug/net6.0/WebApi.csproj.CopyComplete
/WebApi/obj/Debug/net6.0/WebApi.csproj.CoreCompileInputs.cache
/WebApi/obj/Debug/net6.0/WebApi.csproj.FileListAbsolute.txt
/WebApi/bin/Debug/net6.0/WebApi.deps.json
/WebApi/bin/Debug/net6.0/WebApi.dll
/WebApi/obj/Debug/net6.0/ref/WebApi.dll
/WebApi/obj/Debug/net6.0/refint/WebApi.dll
/WebApi/obj/Debug/net6.0/WebApi.dll
/WebApi/bin/Debug/net6.0/WebApi.exe
/WebApi/obj/Debug/net6.0/WebApi.genruntimeconfig.cache
/WebApi/obj/Debug/net6.0/WebApi.MvcApplicationPartsAssemblyInfo.cache
/WebApi/obj/Debug/net6.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
/WebApi/bin/Debug/net6.0/WebApi.pdb
/WebApi/obj/Debug/net6.0/WebApi.pdb
/WebApi/bin/Debug/net6.0/WebApi.runtimeconfig.json
