@page "/"
@using Domain
@using Domain.Model
@using HttpClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr

<h3>Todos</h3>

@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No Todos to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Posts</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in posts)
        {
            <tr>
                <td @onclick="() => ViewPost(item.Id)">@item.Title by @item.Author.Username</td>
            </tr>
        }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await postService.GetAsync(null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void ViewPost(int postId)
    {
        navMgr.NavigateTo($"/viewpost/{postId}");
    }

}