@page "/ViewPost/{id:int}"
@using Domain
@using Domain.Model
@using HttpClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr

<div class="card">
    @if (post == null)
    {
        <label>Loading Post data..</label>
    }
    else
    {
        <h1>@post.Title</h1>
        <div class="form-group field">
            <span>@post.Body</span>
        </div>
    <div class="form-group field">
        <label>Author:</label>
        <h3>@post.Author.Username</h3>
    </div>
    <div class="button-row">
        <button @onclick="ExitAsync" class="acceptbtn">Exit</button>
    </div>
    }
</div>
@code {
    [Parameter]
    public int Id { get; set; }

    private Post post = null!;
    private string msg = "";
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            post = await postService.GetByIdAsync(Id);
            Console.WriteLine(post.Title);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void ExitAsync()
    {
        navMgr.NavigateTo("/");
    }

}